.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card--item .card--item__inner {
  display: flex;
  padding: 10px;
  margin: 15px 0;
  background: white;
  border-radius: 5px;
}

.card--item .card--item__inner img {
  min-width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  filter: invert(1);
}

.card--item .card--item__inner .card--item__inner-infos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card--item .card--item__inner .card--item__inner-infos a {
  font-size: 13px;
  color: #636161;
  margin-top: 20px;
  font-weight: 400;
  text-decoration: none;
}

.card--item .card--item__inner .card--item__inner-infos h5 {
  font-weight: 600;
  font-size: 16px;
}

.card--item .card--item__inner .card--item__inner-infos small {
  font-weight: 300;
  color: gray;
  font-size: 15px;
}

section h3 {
  font-weight: 500;
  border-bottom: 2px solid #efefef;
  padding: 0 5px 15px 5px;
}

.navbar .navbar-nav .nav-item {
  position: relative;
  
}

.navbar .navbar-nav .nav-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: #212529;
  transition: width cubic-bezier(0, 0, 0.2, 1) .2s;
}

.navbar .navbar-nav .nav-item:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #212529;
}

.navbar .navbar-nav .nav-item + .active {
  opacity: .5;
}
